<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editing pin</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to pins_path do %>
      <span class="glyphicon glyphicon-arrow-left" title=Back></span> Back 
    <% end %>
    | <%= link_to 'Show', @pin %>
  </div>
