<h1>About Me</h1>
<p>I'm an adventurous person who recently moved from the US to the Netherlands.</p>
<p></p>
<p>I'm learning how to code as a career change.  I'm super excited with the progress I make towards that goal every day.  :-]</p>
<p></p>
<p>Check out my blog <a href="http://newcodegirl.blogger.com">here</a>.</p>

<p></p>
<p><a href="https://twitter.com/newcodegirl" class="twitter-follow-button" data-show-count="false">Follow @newcodegirl</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
