<h1>About Me</h1>
<div class="well">
  <p>I'm an adventurous person who recently moved from the US to the Netherlands.</p>
  <p></p>
  <p>I'm learning how to code as a career change.  I'm super excited with the progress I make towards that goal every day.  :-]</p>
  <p></p>
  <p>Check out my blog <a href="http://newcodegirl.blogger.com">here</a>.</p>
</div>
