<div class="panel panel-default">
  <div class="panel-heading">
    <h1>About Me</h1>
  </div>
  <div class="panel-body">
    I'm an adventurous person who recently moved from the US to the Netherlands.
    <p></p>
    I'm learning how to code as a career change.  I'm super excited with the progress I make towards that goal every day.  :-]
    <p></p>
    Check out my blog <a href="http://newcodegirl.blogger.com">here</a>.
  </div>
</div>

<div class="center">
  <%= link_to pins_path do %>
    <span class="glyphicon glyphicon-arrow-left" title=Back></span> Back
  <% end %>
</div>
