<div class="panel panel-default">
  <div class="panel-heading">
  <h1>Why make this app?</h1>
</div>
  <div class="panel-body">
    This is my first attempt at making a ruby on rails web application.  Heck, it's my first attempt at coding anything, really.
    <p></p>
    I hope you like it and are impressed with what I've accomplished in less than a month's time!
  </div>
</div>
